[submodule "day01"]
	path = day01
	url = https://github.com/PiIsFour/crl.git
	branch = day01
[submodule "day03"]
	path = day03
	url = https://github.com/PiIsFour/crl.git
	branch = day03
[submodule "day05"]
	path = day05
	url = https://github.com/PiIsFour/crl.git
	branch = day05
[submodule "day08"]
	path = day08
	url = https://github.com/PiIsFour/crl.git
	branch = day08
[submodule "day09"]
	path = day09
	url = https://github.com/PiIsFour/crl.git
	branch = day09
[submodule "day11"]
	path = day11
	url = https://github.com/PiIsFour/crl.git
	branch = day11
[submodule "day12"]
	path = day12
	url = https://github.com/PiIsFour/crl.git
	branch = day12
